<meta charset='utf-8'/>
<a href='/'>return index</a>

<br/>
<form action="/vm/<%=@uuid%>/snapshot_take" method="post">
	snapshot name: <input type="text" name="name" /> &nbsp;
	<input type="submit" value="take" /><br/>
</form>
